body,
ul,
li,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body,
html {
  height: 100%;
}

body {
  font-family: Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-tap-highlight-color: transparent;
}
